/* Light mode styles */
body {
  --bg-color: #ffffff;
  --text-color: #000000;
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Dark mode styles */
body.dark-mode {
  --bg-color: #333333;
  --text-color: #ffffff;
  background-color: var(--bg-color);
  color: var(--text-color);
}
