/* Light mode styles */
body {
  background-color: #ffffff;
  color: #000000;
}

textarea {
  background-color: #ffffff;
  color: #000000;
}

.navbar-light .navbar-nav .nav-link {
  color: #000000;
}

/* Dark mode styles */
body.dark-mode {
  --bs-body-color: #adb5bd;
  --bs-secondary-text-emphasis: #a7acb1;
}

body.dark-mode textarea {
  background-color: #333333;
  color: #ff6464;
}

body.dark-mode .navbar-light .navbar-nav .nav-link {
  color: #ffffff;
}
